  @media all and (max-width:1295px) {
      .header {
          width: 100%;
      }
      .header li {
          display: inline-block;
          margin-left: 30px;
      }
      .container {
          width: 100%;
          height: 700px;
      }
      .wrapper {
          height: 700px;
      }
  }
  
  @media all and (max-width:748px) {
      .header {
          width: 100%;
          height: 300px;
          background: #e8c5a2;
      }
      .header li {
          display: block;
      }
      .float {
          display: grid;
          grid-template-columns: 1fr;
      }
      .main {
          width: 100%;
          height: 500px;
          background-image: url("https://picsum.photos/id/109/1050/500");
          background-image: center;
      }
      .sidebar {
          background: linear-gradient(90deg, #e8c5a2, #c7996b);
          width: 100%;
          height: 500px;
      }
      .container {
          background-color: #e8c5a2;
          width: 100%;
          height: 950px;
      }
      .grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
      .grid-itm {
          padding: 0 15px;
      }
      .wrapper {
          height: 950px;
      }
      .gallery {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
      .navbar {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;
      }
      form {
          width: 20%;
          margin: 30px auto;
      }
      .feedback-input {
          width: 300px;
          margin-left: -10px;
      }
      .button-submit {
          width: 300px;
          margin-left: -10px;
      }
      .data {
          max-width: 65%;
      }
  }
  
  @media all and (max-width:525px) {
      .grid {
          display: grid;
          grid-template-columns: 1fr;
          padding: 20px;
      }
      h1 {
          font-size: 40px;
          text-align: left;
      }
      h2 {
          font-size: 25px;
          text-align: left;
          margin-top: 30px;
      }
      .container {
          background-color: #e8c5a2;
          width: 520px;
          height: 1500px;
      }
      .main {
          width: 500px;
          height: 200px;
      }
      .sidebar {
          width: 520px;
          height: 200px;
      }
      .header {
          width: 600px;
      }
      .wrapper {
          width: 520px;
          height: 1150px;
      }
      .hero {
          width: 520px;
      }
      .video-bg {
          width: 520px;
      }
      h5 {
          font-size: 30px;
          margin-top: 5px;
      }
      h6 {
          font-size: 20px;
          margin-top: 80px;
      }
      .gallery {
          display: grid;
          grid-template-columns: 1fr;
          grid-auto-rows: minmax(50px, auto);
          grid-gap: 5px;
      }
      .gallery-item {
          max-width: 100%;
          border-radius: 5px;
          box-shadow: 0 5px 20px #e8c5a2;
          transition: all .3s;
          overflow: hidden;
          position: relative;
          margin-top: 10px;
      }
      .image {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
          object-fit: cover;
      }
      .text {
          font-size: 8px;
          font-weight: 300;
      }
      .navbar {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 1rem;
          width: 520px;
      }
      h1 {
          margin-left: 100px;
      }
      .library a {
          margin-left: 5px;
      }
      .portfolio-text {
          margin-top: 10px;
          text-align: justify;
          width: 600px;
      }
      .cv {
          display: grid;
          grid-template-columns: 1fr;
          max-width: 600px;
      }
      .data {
          max-width: 600px;
      }
  }